body {
  /* background: linear-gradient(-45deg, #7209b7, #f72585, #7209b7, #f72585); */
  background: linear-gradient(
    45deg,
    #00dbfb,
    #00cbff,
    #00b7ff,
    #6d9cff,
    #b477ff,
    #e353d4,
    #fb299f,
    #ff0066,
    #ff5523,
    #eb9200,
    #b0c400,
    #22eb2a
  );
  background-size: 700%;
  background-position: left;
  background-attachment: fixed;
  animation-name: colormovinganimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes colormovinganimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
