body {
  /* background: linear-gradient(-45deg, #7209b7, #f72585, #7209b7, #f72585); */
  background: linear-gradient(
    45deg,
    #00dbfb,
    #00cbff,
    #00b7ff,
    #6d9cff,
    #b477ff,
    #e353d4,
    #fb299f,
    #ff0066,
    #ff5523,
    #eb9200,
    #b0c400,
    #22eb2a
  );
  background-size: 700%;
  background-position: left;
  background-attachment: fixed;
  animation-name: colormovinganimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes colormovinganimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* ========= update (youtanimstar) start ========= */

::-webkit-scrollbar-track
{
  border-radius: 50px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
  border-radius: 50px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AB6EF7;	
	
}

/* ========= update (youtanimstar) end ========= */

h1{
  font-family: monospace;
}

.active-page-btn{
  scale: 1.2;
  transition: all 0.5s;
}

.grid{
  transition: all 0.5s;
}

.author-text{
  color: black !important;
  font-weight: bold;
}

/* =================== Search bar ================ */
.search {
  margin-bottom: 20px;
  
}
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	padding: 9px 10px 9px 32px;
	width: 50%;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	
	-webkit-border-radius: 10em;
	   -moz-border-radius: 10em;
	        border-radius: 10em;
	
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
}
input[type=search]:focus {
	width: 70%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	   -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	        box-shadow: 0 0 5px rgba(109,207,246,.5);
}
