
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color: white;
}
#input-el{
    background-color: whitesmoke;
    width: auto;
    height: auto;
}

h1{
  color: rgb(76, 76, 146); 
}

.flex-container {
    display: flex;
    background-color: rgb(9, 11, 53);
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
 
.flex-container div {
    background-color: rgb(76, 76, 146);
    margin: 20px;
    padding: 20px;
}

input{
    width: auto;
    height: 20px;
}

.accept-container {
    display: flex;
    background-color: rgb(66, 84, 249);
    flex-direction: column;
    padding: 30px;
    margin: 50px;
    gap: 20px;
}
 
.accept-container div {
    background-color: peachpuff;
    margin: 40px;
    padding: 50px;
    gap: 40px;
}


.button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid #e8e8e8;
  }
  
  .button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #ffffff,
               inset -4px -4px 12px #ffffff;
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
