* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 600px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-family: monospace;
    color: #000000;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}